/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
* {
    margin: 0;
}

/* Normalize font sizes */
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Remove default paddings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    padding: 0;
}

/* Normalize list styles */
ol,
ul {
    list-style: none;
}

/* Remove default link styles */
a {
    color: inherit;
    text-decoration: none;
}

/* Normalize form elements */
input,
select,
textarea,
button {
    font: inherit;
}

/* Normalize images */
img {
    max-width: 100%;
    height: auto;
}

/* Remove built-in focus styles */
button,
input,
select,
textarea {
    outline: none;
}

/* _______________________________________ END OF CSS RESET ____________________________________ */

html {
    width: 100%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: #EDEDED;
}

.container-header {
    position: relative;
    height: 100%;
    background: #EDEDED;
}

.background-img {
    position: absolute;
    min-height: 377px;
    object-fit: cover;
}

.logo-img {
    position: relative;
    top: 8.5%;
    left: 4.8%;
    width: calc(min(100vw, 207px));
    height: calc(min(100vh, 25.261px));
}

.main-heading {
    position: relative;
    color: #FFD15B;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: clamp(1.7rem, 5vw, 44px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.research-field {
    border-radius: 11px;
    background: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.container-search {
    width: 66.25%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-top: clamp(65px, calc(18vw - 65px), 227px);
}


.search-icon {
    width: 51px;
    height: 52px;
    flex-shrink: 0;
    background: #1B1B1B;
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: relative;
    right: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

@media (max-width: 666px) {
    .search-icon {
        right: 0;
    }
}

.search-icon:hover svg circle,
.search-icon:hover svg line {
    stroke: black;
}

.search-icon:hover {
    background: #FFD15B;
}

#search-close {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    position: absolute;
    right: 85px;
    top: 30px;
    display: none;
}

.research-field input {
    color: #7A7A7A;
    font-family: "Manrope", sans-serif;
    font-size: clamp(0.9rem, 1vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: clamp(52px, 8vw, 72px);
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.research-field input[type="text"] {
    padding-left: clamp(7px, calc(2vw + 6px), 35px);
    border: none;
    outline: none;
}

/* _______________________________________ CARDS _________________________________________ */

.cards-container {
    padding-top: 22px;
    padding-left: clamp(7px, calc(3.5vw + 2px), 102px);
    padding-right: clamp(7px, calc(3.5vw + 2px), 102px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    row-gap: clamp(7px, calc(4vw + 6px), 66px);
    column-gap: clamp(7px, calc(3vw + 6px), 48px);
    background: #EDEDED;
}

@media (max-width: 950px) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}


@media (max-width: 465px) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media (min-width: 1440px) {
    .cards-container {
        padding-left: 102px;
        padding-right: 102px;
    }
}

.recipes-card img {
    object-fit: cover;
    height: 253px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.recipes-card {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.container-card-text {
    width: 100%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    height: 478px;
    min-height: 478px;
}


.container-card-text h1 {
    padding-top: 21px;
    padding-bottom: 29px;
    color: #000;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-card-text h2 {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.recipe-description {
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    max-height: 76px;
}

.recipe-description:hover {
    max-height: 100%;
}

.recipe-description:hover~.description-container {
    max-height: 100%;
}

.description-container {
    margin-bottom: 28px;
}

.recipe-ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    padding-bottom: 61px;
}

.ingredient-name {
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ingredient-quantity {
    color: #7A7A7A;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recipe-time {
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
    background: #FFD15B;
    position: absolute;
    top: 21px;
    right: 22px;
}

.recipe-container {
    position: relative;
}

/*________________________________________ DROPDOWNS _____________________________ */


.dropdown-container {
    width: 100%;
    height: 108px;
    background: #EDEDED;
    padding-top: 20px;
    padding-left: clamp(7px, calc(3.5vw + 2px), 102px);
    position: relative;
    display: flex;
    justify-content: space-between;
}

#number-recipes {
    color: #1B1B1B;
    font-family: Anton;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 32px;
    padding-top: 17px;
}

.number-container {
    padding-right: clamp(7px, calc(3.5vw + 2px), 102px);
}

@media (min-width: 1440px) {
    .dropdown-container {
        padding-left: 102px;
    }

    .number-container {
        padding-right: 102px;
    }
}


.dropdowns {
    display: flex;
    column-gap: clamp(15px, 4.5vw + 5px, 65px);
}

@media (max-width: 920px) {
    .dropdown-container {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
        height: 100%;
    }

    .dropdowns {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }

    .number-container {
        padding-bottom: 30px;
    }
}


.dropdown1,
.dropdown2,
.dropdown3 {
    width: 195px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #FFF;
    z-index: 10;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 56px;
    overflow-y: hidden;
    transition: height 0.1s linear;
    position: relative;
}

.dropdown1.open,
.dropdown2.open,
.dropdown3.open {
    height: 315px;
    overflow-y: auto;
    z-index: 10;
    background: #FFF;
    position: relative;
}

#dropdownArrow1,
#dropdownArrow2,
#dropdownArrow3 {
    transition: transform 0.3s ease;
}

.rotate180 {
    transform: rotate(180deg);
}

.dropdown1::-webkit-scrollbar,
.dropdown2::-webkit-scrollbar,
.dropdown3::-webkit-scrollbar {
    display: none;
}

.dd1-visiblepart,
.dd2-visiblepart,
.dd3-visiblepart {
    display: flex;
    justify-content: space-between;
    padding: 17px 16px;
    align-items: center;
    gap: 63px;
    border-radius: 11px;
    background: #FFF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dd1-visiblepart h1,
.dd2-visiblepart h1,
.dd3-visiblepart h1 {
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #FFF;
}

.glass-icon {
    width: 13.5px;
    height: 14px;
    transform: translateX(15px);
}

.dd1-inputcontainer,
.dd2-inputcontainer,
.dd3-inputcontainer {
    position: relative;
    width: 163px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #C6C6C6;
    margin-left: 16px;
    margin-bottom: 11px;
    background: #FFF;
}

.dd1-inputcontainer input[type="text"],
.dd2-inputcontainer input[type="text"],
.dd3-inputcontainer input[type="text"] {
    border: none;
    outline: none;
    width: 120px;
    height: 34px;
    color: #7A7A7A;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    background: #FFF;
}

.dd1-list,
.dd2-list,
.dd3-list {
    display: flex;
    width: 163px;
    flex-direction: column;
    justify-content: flex-end;
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
    background: #FFF;
    row-gap: 13px;
}

.dd1-list p,
.dd2-list p,
.dd3-list p {
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    width: 195px;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
}

.dd1-list p:not(.selected):hover,
.dd2-list p:not(.selected):hover,
.dd3-list p:not(.selected):hover {
    overflow: visible;
}

.dd1-list p:not(.selected)::before,
.dd2-list p:not(.selected)::before,
.dd3-list p:not(.selected)::before {
    content: ""; 
    position: absolute;
    top: -10px; 
    bottom: -10px; 
    left: 0;
    right: 0;
    background: #FFD15B;
    z-index: -1; 
    opacity: 0; 
    transition: opacity 0.1s linear; 
}

.dd1-list p:not(.selected):hover::before,
.dd2-list p:not(.selected):hover::before,
.dd3-list p:not(.selected):hover::before {
    opacity: 1; /* Make the pseudo-element visible on hover */
}


.filters-selected {
    padding-left: clamp(7px, calc(3.5vw + 2px), 102px);
    width: 100%;
    background: #EDEDED;
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}

.selected-item {
    display: inline-flex;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: #FFD15B;
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 53px;
}

.selected {
    color: #1B1B1B;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
flex-shrink: 0;
background: #FFD15B;
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 10px;
}

